<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is a page about a cat</title>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    <script src="/songPage.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="section">
      <h1> <%= pageInfo %> </h1>

      <img class="catavar" src="/cute-little-cat.jpg" alt="" />

      <h2><a href=<%= nextPage %> >Next Page</a></h2>

      <h4><a href='/'>Home Page</a></h4>
    </div>
  </body>
</html>
